doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='css/base.css')
  link(rel='stylesheet' type='text/css' href='css/util.css')
  link(rel='stylesheet' type='text/css' href='css/main.css')
.limiter
  .container-login100
    .wrap-login100
      .login100-pic.js-tilt(data-tilt='')
        img(src='images/img-01.png' alt='IMG')
      form(action='/' method='POST').login100-form.validate-form
        span.login100-form-title
          | Member Login
          #{error}
        .wrap-input100.validate-input(data-validate='Valid email is required: ex@abc.xyz')
          input.input100(type='text' name='email' placeholder='Email')
          span.focus-input100
          span.symbol-input100
            i.fa.fa-envelope(aria-hidden='true')
        .wrap-input100.validate-input(data-validate='Password is required')
          input.input100(type='password' name='pass' placeholder='Password')
          span.focus-input100
          span.symbol-input100
            i.fa.fa-lock(aria-hidden='true')
        .container-login100-form-btn
          button.login100-form-btn
            | Login
        .text-center.p-t-136
          a.txt2(href='/register')
            | Create your Account
            i.fa.fa-long-arrow-right.m-l-5(aria-hidden='true')
